<div>
  <div class="content">
    <div class="header">
      <h1>Products</h1>
      <hr>
    </div>
    <div class="container">
      <h3>Create Product</h3>
      <div class="form">
        <form #Productsform="ngForm" (ngSubmit)="onProductCreate(Productsform.value)">
          <label>Product Name</label>
          <input type="text" name="pName" ngModel>

          <label>Product Description</label>
          <input type="text" name="desc" ngModel>

          <label>Product price</label>
          <input type="text" name="price" ngModel>

          
          <input type="submit" value="{{display ? 'Update' : 'Add Product'}}">
        </form>
      </div>
      </div>
      <div class="product-display">
        <h3>All products</h3>
        <table>
          <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Price</th>
          </tr>
          <tr *ngIf="data.length<1">
            <td>No Products Available...</td>
          </tr>
          <tr *ngFor="let prod of data; index as i">
            <td>{{i+1}}</td>
            <td>{{prod.pName}}</td>
            <td>{{prod.desc}}</td>
            <td>${{prod.price}}</td>
            <td><button (click)="editProd(prod.id)">Edit</button></td>
            <td><button (click)="onDelete(prod.id)">Delete</button></td>
         
          </tr>
        </table>
      </div>
      
    </div>
    <button (click)="fetchProduct()">Fetch product</button>
    <button (click)="deleteTotalProducts()">Clear Response</button>
    
  </div>
